@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  font-style: normal;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main {
  background: linear-gradient(to right, #82b3d3, #756157);
  background-image: url("../images/filtr.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  padding: 35px 70px 70px;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  margin-bottom: -20px;
}

.navigation {
  display: flex;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  z-index: 1;
}

.navigation-logo {
  width: 138px;
  margin-right: 28px;
  margin-left: 70px;
  z-index: 1;
}

.navigation-list {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-user-item {
  display: block;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-link[aria-current="page"]::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.navigation-user-link {
  display: flex;
  margin-inline: 12px;
}

.navigation-user-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask: var(--icon-userlink) no-repeat center / contain;
  background-color: #000000;
}

.navigation-user-search {
  --icon-userlink: url("../images/icons/search.svg");
}

.navigation-user-favorite {
  --icon-userlink: url("../images/icons/heart.svg");
  position: relative;
  margin-right: 32px;
}

.navigation-user-link:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.notification-badge {
  position: absolute;
  top: -11px;
  right: -8px;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.notification-badge-number {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 5px;
  bottom: auto;
  right: 5px;
  left: 4px;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  background-color: rgb(229, 229, 229);
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  background-color: rgb(229, 229, 229);
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.filter-reset:hover {
  opacity: 0.6;
}

.filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset:disabled {
  opacity: 0.1;
}

.header-button {
  font-size: 16px;
  min-width: 92px;
  margin-right: 70px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 69px;
}

.hero::after {
  position: absolute;
  width: 1200px;
  height: 57px;
  margin: 0;
  background-image: url("../images/icons/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  bottom: -1px;
}

.hero-img {
  display: flex;
  padding: 51px 371px 82px;
  width: 458px;
}

.lead {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 290px;
  padding: 0;
  padding-bottom: 25px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 69px;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  margin-top: 21px;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 112px 85px 94px;
  width: 230px;
  min-height: 179px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 29px;
}

.advantages-title::before {
  position: absolute;
  bottom: -30px;
  width: 60px;
  height: 2px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-item:not(img) > .advantages-title::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

.advantages-item:has(img) {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
  padding: 0;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-text {
  padding: 103px 85px;
  width: 230px;
}

.advantages-img {
  grid-column: span 2;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.advantages-item:nth-child(even of:has(img)) img {
  order: -1;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-lead {
  padding: 0 51px 20px;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.infrastructure-item {
  padding: 80px 46px;
  width: 308px;
  background-repeat: no-repeat;
  background-position: center top 80px;
  background-size: 75px 72px;
}

.advantage-icon {
  background-image: url("../images/icons/advantage-icon.svg");
}

.advantage-burger {
  background-image: url("../images/icons/advantage-burger.svg");
}

.advantage-gift {
  background-image: url("../images/icons/advantage-gift.svg");
}

.infrastructure-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-title {
  margin: 102px 0 0;
}

.infrastructure > .description {
  padding-bottom: 64px;
}

.infrastructure-description {
  padding: 30px 29px 0;
}

.space::after {
  content: "\A";
  white-space: pre;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.search-title {
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0;
}

.search-description {
  margin: 0;
  padding-bottom: 54px;
}

.search-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  background-color: #756157;
}

.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 96px 258px 104px;
}

.subscribe-title,
.subscribe-description {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.subscribe-title {
  padding-bottom: 20px;
}

.subscribe-description {
  padding: 0 70px 54px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  height: 52px;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.text-email {
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  border: none;
  width: 412px;
  height: 28px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-style: normal;
}

.subscribe-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 70px 30px;
  margin: 0 auto;
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  margin-inline: 4px;
}

.social-link::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  mask: var(--icon-social) no-repeat center / contain;
  background-color: #83b3d3;
}

.social-link-vk {
  --icon-social: url("../images/icons/vk.svg");
}

.social-link-tg {
  --icon-social: url("../images/icons/tg.svg");
}

.social-link-yt {
  --icon-social: url("../images/icons/yt.svg");
}

.social-link:hover::before {
  background-color: #68a2ca;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.phone {
  font-family: inherit;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
}

.phone-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  justify-content: center;
  gap: 0 15px;
}

.htmlacademy::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  mask: var(--icon-htmlacademy) no-repeat center / contain;
  background-color: #000000;
}

.htmlacademy {
  --icon-htmlacademy: url("../images/icons/htmlacademy.svg");
}

.htmlacademy:hover::before {
  background-color: #756157;
}

.htmlacademy:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

.phone:hover {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.sedona {
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  align-items: center;
}

.breadcrumbs-item-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  --icon-home: url("../images/icons/home.svg");
}


.breadcrumbs-item-home::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  mask: var(--icon-home) no-repeat center / contain;
  background-color: #ffffff;
}

.breadcrumbs-item-hotel {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 11px;
  padding-left: 17px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 6px 10px;
  background-position: center left;
}

.breadcrumbs-item-hotel:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item-hotel:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item-home:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item-home:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter {
  display: flex;
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 16px;
  appearance: none;
  display: grid;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

input[type="checkbox"]::before {
  content: "";
  background: url("../images/icons/check.svg") no-repeat center / cover;
  transform: scale(var(--is-checked, 0));
  transition: transform 0.1s ease-in-out;
}

input[type="checkbox"]:checked {
  --is-checked: 1;
}

input[type="radio"] {
  margin: 0;
  margin-right: 16px;
  appearance: none;
  display: grid;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

input[type="radio"]::before {
  content: "";
  background: url("../images/icons/radio.svg") no-repeat center / cover;
  transform: scale(var(--is-checked, 0));
  transition: transform 0.1s ease-in-out;
}

input[type="radio"]:checked {
  --is-checked: 1;
}

.conveniences {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.conveniences-head {
  padding: 0;
  padding-bottom: 32px;
}

.checked-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.checked-item:last-child {
  margin-bottom: 0;
}

.checked-item:hover {
  opacity: 0.6;
}

.checked-item:active {
  opacity: 0.3;
}

.housing {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 150px;
}

.housing-head {
  padding: 0;
  padding-bottom: 32px;
}

.cost {
  width: 288px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.cost-head {
  padding: 0;
  padding-bottom: 32px;
}

.rage-cost {
  display: flex;
  flex-direction: row;
}

.rage-cost-item {
  position: relative;
}

.rage-cost span {
  position: absolute;
  content: "от";
  top: 12px;
  right: 20px;
  width: 20px;
  height: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #aaaaaa;
}

.rage-cost input {
  border: none;
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  width: 103px;
}

.cost-min {
  appearance: textfield;
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.cost-max {
  appearance: textfield;
  border-radius: 0 4px 4px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  width: 278px;
  position: relative;
  left: 10px;
  height: 4px;
  margin-top: 46px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  right: 70px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.range-toggle:hover {
  background-color: #e5e5e5;
}

.range-toggle:active {
  border: 4px solid #ffffff;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-button {
  font-weight: 400;
  width: 191px;
  display: flex;
  flex-direction: column;
}

.filter-apply {
  margin-top: 56px;
  margin-bottom: 32px;
  background-color: #82b3d3;
  color: #ffffff;
}

.found-container {
  display: flex;
  padding: 50px 70px 0;
  justify-content: center;
}

.found-head {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.found-number-housing {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  width: 292px;
  margin-right: 70px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 12px 20px;
  padding-right: 40px;
  appearance: none;
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 12px 7px;
  background-color: #ffffff;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.view {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.view-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  padding: 0;
}

.view-button:hover,
.view-button:active {
  border: 2px solid #000000;
}

.view-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-list {
  background-image: url("../images/icons/variant-list.svg");
}

.view-small {
  background-image: url("../images/icons/variant-tile.svg");
}

.view-large {
  background-image: url("../images/icons/variant-slideshow.svg");
}

.housing-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  padding: 40px 70px;
  margin: 0;
}

.housing-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.star {
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: left;
  background-size: 24px 17px;
  width: calc(24px * var(--star-count));
}


.star::before {
  content: "";
  width: calc(24px * var(--star-count));
}

.stars-1 {
  --star-count: 1;
}

.stars-2 {
  --star-count: 2;
}

.stars-3 {
  --star-count: 3;
}

.stars-4 {
  --star-count: 4;
}

.stars-5 {
  --star-count: 5;
}

.housing-card-title {
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.housing-type {
  margin: 0;
  padding: 0;
}

.housing-price {
  margin: 0;
  padding: 0;
  text-align: end;
}

.housing-card-image {
  object-fit: cover;
  order: -1;
  background-color: #82b3d3;
}

.housing-card-button {
  align-self: start;
  font-size: 16px;
  line-height: 125%;
  padding: 8px 0;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
}

.button-favourite {
  align-self: start;
  padding: 8px 0;
  color: #ffffff;
  text-align: center;
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.rating {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 0;
}

.rating-number {
  line-height: 20px;
  font-size: 16px;
}

.rating-total {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
}

legend {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

label.cost-min,
.cost-max {
  color: #000000;
}

.filter-reset {
  background-color: transparent;
  color: #ffffff;
}

.housing-type,
.housing-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 40px 70px 60px;
  margin: 0;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-decoration: none;
  padding: 11px 0 12px;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-over {
  background-color: #ffffff;
  color: #000000;
}

.pagination-item {
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-item:hover {
  background-color: #68a2ca;
}

.pagination-item:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-description-catalog {
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  overflow: auto;
  visibility: hidden;
}

.modal-open {
  visibility: visible;
}

.modal {
  position: relative;
  margin: auto;
  width: 577px;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/cros.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-header {
  margin: 0;
  margin-bottom: 64px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.date {
  display: grid;
  grid-template-columns: 137px 1em;
}

.modal-title {
  grid-column: 1/2;
  align-self: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

.text-input {
  height: 38px;
  grid-column: 2/4;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  border: none;
  border-radius: 4px;
  background: url("../images/icons/calendar.svg") no-repeat 400px / contain;
  background-size: 20px 20px;
  background-color: #f2f2f2;
  padding: 5px 50px 5px 20px;
}

.text-input:hover,
.number-input:hover {
  background-color: #e6e6e6;
}

.number-input {
  appearance: textfield;
  height: 48px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  border: none;
  background-color: #f2f2f2;
  width: 31px;
  padding: 0;
  text-align: center;
}

.number-button {
  width: 40px;
  height: 48px;
  border: none;
  padding: 0;
  background-color: #f2f2f2;
}

.number-input:focus-visible {
  z-index: 2;
}

.number-button:focus-visible {
  z-index: 2;
}

.number-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask: var(--icon-number) no-repeat center / contain;
  background-color: #756157;
  opacity: 0.3;
  padding: 0 10px;
}

.plus {
  --icon-number: url("../images/icons/plus.svg");
  border-radius: 0 4px 4px 0;
}

.minus {
  --icon-number: url("../images/icons/minus.svg");
  border-radius: 4px 0 0 4px;
  margin-left: 46px;
}

.number-button:hover::before {
  background-color: #000000;
  opacity: 1;
}

.number-button:active::before {
  background-color: #756157;
  opacity: 0.3;
}

.date-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  grid-column: 2/4;
  margin: 0;
  margin-top: 4px;
  padding-left: 19px;
  padding-bottom: 23px;
}

.red-text {
  color: #ff5757;
}

.number-people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.children {
  margin-right: 36px;
}

.children-information,
.adults-input {
  display: flex;
  align-items: center;
}

.tooltip {
  position: absolute;
  margin: 0;
  margin-left: 60px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  display: grid;
}

.tooltip-toggle::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: url("../images/icons/info.svg") no-repeat center / contain;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  text-transform: none;
  padding: 11px 18px 22px 22px;
  border-radius: 10px;
  display: none;
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text::before {
  position: relative;
  content: "";
  display: block;
  width: 19px;
  height: 9px;
  background: url("../images/icons/triangle.svg") no-repeat;
  top: -20px;
  left: 97px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.find {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  width: 100%;
  height: 60px;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 10px;
}


.visually-hidden {
  position: fixed;
  transform: scale(0);
}
