@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  background-color: #82b3d3;
}

.navigation {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}

.navigation-user-search {
  background-image: url("../images/icons/search.svg");
  display: block;
  background-repeat: no-repeat;
}

.navigation-user-link-favorite {
  background-image: url("../images/icons/heart.svg");
  display: block;
  background-repeat: no-repeat;
}

.navigation-user-link {
  width: 20px;
  height: 20px;
}

.header-button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
}

.notification-badge {
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.notification-badge-number {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 485px;
}

.lead {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscribe-title .subscribe-description {
  color: #ffffff;
}

.subscribe {
  background-image: url("../images/Subscribe.jpg");
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 415px;
}

.subscribe_catalog {
  background-image: none;
  background-color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.infrastructure-item {
  width: 400px;
  height: 385px;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  background-color: #82b3d3;
  height: 385px;
  width: 1200px;
}

.phone {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.search-button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
}

.subscribe-button {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.vk {
  background-image: url("../images/icons/vk.svg");
  display: block;
  background-repeat: no-repeat;
}

.tg {
  background-image: url("../images/icons/tg.svg");
  display: block;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../images/icons/youtube.svg");
  display: block;
  background-repeat: no-repeat;
}

.htmlacademy {
  background-image: url("../images/icons/htmlacademy.svg");
  display: block;
  background-repeat: no-repeat;
}

.main {
  background-image: url("../images/filtr.jpg");
  width: 1200px;
  height: auto;
}

.sedona {
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-item-hotel {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-item-home {
  background-image: url("../images/icons/home.svg");
  display: block;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

legend {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

label.cost-min,
.cost-max {
  color: #000000;
}

.filter-apply {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.filter-reset {
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
}

.housing-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.housing-type,
.housing-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.rating {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.housing-card-button,
.button-favourite {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.housing-card-button {
  background-color: #756157;
}

.button-favourite {
  background-color: #82b3d3;
  border: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.pagination-item {
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
}

.housing-card-image {
  background-color: #82b3d3;
}
/*
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
*/
