@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  font-style: normal;
}

.body-container {
  width: 1200px;
  margin: 0 auto;

  outline: 5px solid rgb(218, 50, 50);
  outline-offset: -5px;
}

.main {
  background-image: url("../images/filtr.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  padding: 35px 70px 70px;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;

  outline: 5px solid rgb(245, 180, 180);
  outline-offset: -5px;
}

.navigation-logo {
  width: 138px;

  outline: 5px solid #a460b5;
  outline-offset: -5px;
}

.navigation-list {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;

  outline: 5px solid #74a7ba;
  outline-offset: -5px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;

  outline: 5px solid #62b097;
  outline-offset: -5px;
}

.navigation-user-item {
  display: block;
  outline: 5px solid #afcd5d;
  outline-offset: -5px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  text-decoration: none;

  outline: 5px solid #afcd5d;
  outline-offset: -5px;
}

.navigation-user-search {
  background-image: url("../images/icons/search.svg");
  min-width: 44px;
  min-height: 64px;
  display: block;
  padding: 22px 12px;
  background-repeat: no-repeat;
}

.navigation-user-link-favorite {
  background-image: url("../images/icons/heart.svg");
  display: block;
  background-repeat: no-repeat;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.button {
  display: block;
  margin: 0;
  padding: 8px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.header-button {
  color: #ffffff;
  background-color: #756157;
}

.notification-badge {
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.notification-badge-number {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  outline: 5px solid rgb(92, 218, 50);
  outline-offset: -5px;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 69px;

  outline: 5px solid rgb(50, 215, 218);
  outline-offset: -5px;
}

.hero-img {
  display: flex;
  padding: 51px 371px 82px;
  width: 458px;

  outline: 5px solid rgb(50, 89, 218);
  outline-offset: -5px;
}

.lead {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 290px;
  padding: 0;
  padding-bottom: 25px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 69px;
  margin: 0;
}

.advantages-list {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 64px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  outline: 5px solid rgb(212, 50, 218);
  outline-offset: -5px;
}

.advantages-item {
  padding: 103px 85px;
  max-width: 230px;
  min-height: 179px;

  outline: 5px solid rgb(26, 13, 210);
  outline-offset: -5px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.background {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
}


.infrastructure-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.infrastructure-item {
  padding: 80px 85px;

  outline: 5px solid rgb(210, 13, 13);
  outline-offset: -5px;
}

.infrastructure > .description {
  padding-bottom: 64px;
}

.search {
  padding: 96px 304px;
}

.search-title {
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0;
}

.search-description {
  margin: 0;
  padding-bottom: 54px;
}

.search-button {
  color: #ffffff;
  background-color: #756157;
}

.subscribe-title,
.subscribe-description {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.subscribe-title {
  padding-bottom: 20px;
}

.subscribe-description {
  padding-bottom: 54px;
}

.subscribe {
  background-image: url("../images/Subscribe.jpg");
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 96px 258px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-button {
  background-color: #82b3d3;
  color: #ffffff;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 1200px;
  margin: 0 auto;

  outline: 5px solid #090909;
  outline-offset: -5px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.vk {
  background-image: url("../images/icons/vk.svg");
  display: block;
  background-repeat: no-repeat;
}

.tg {
  background-image: url("../images/icons/tg.svg");
  display: block;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../images/icons/youtube.svg");
  display: block;
  background-repeat: no-repeat;
}

.phone {
  font-family: inherit;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.htmlacademy {
  background-image: url("../images/icons/htmlacademy.svg");
  display: block;
  background-repeat: no-repeat;
}

.sedona {
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.filter {
  display: flex;
}

.conveniences {
  display: flex;
  flex-direction: column;
}

.housing {
  display: flex;
  flex-direction: column;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.found-container {
  display: flex;
  padding: 50px 70px 0;
  align-items: end;

  outline: 5px solid rgb(56, 13, 210);
  outline-offset: -5px;
}

.found-head {
  margin: 0;
  padding: 0;
}

.found-number-housing {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.select-control {
  margin-right: 70px;
}

.view {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.housing-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px;

  outline: 5px solid rgb(158, 231, 167);
  outline-offset: -5px;
}

.housing-card {
  display: flex;
  width: 298px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
  margin-bottom: 20px;
}

.housing-card:nth-child(3) {
  margin-right: 0;
}

.housing-card:last-child {
  margin-bottom: 0;
}

.housing-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.housing-type {
  margin: 0;
  padding: 0;
}

.housing-price {
  margin: 0;
  padding: 0;
}

.rating {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 40px 70px 60px;
  margin: 0;
}

.breadcrumbs-item-hotel {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item-home {
  background-image: url("../images/icons/home.svg");
  display: block;
  background-repeat: no-repeat;
}

legend {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

label.cost-min,
.cost-max {
  color: #000000;
}

.filter-apply {
  background-color: #82b3d3;
  color: #ffffff;
  margin-bottom: 32px;
}

.filter-reset {
  background-color: transparent;
  color: #ffffff;
}

.housing-type,
.housing-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.button-favourite {
  color: #ffffff;
  background-color: #82b3d3;
}

.housing-card-button {
  color: #ffffff;
  background-color: #756157;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-decoration: none;
  padding: 11px 0 12px;
}

.pagination-item {
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-description-catalog {
  color: #000000;
}

.housing-card-image {
  background-color: #82b3d3;
  order: -1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
